.app {
  background-color: var(--grey-color);
}
.app .grid__full-width {
  height: 100%;
}
.app .grid__full-width .grid__row {
  height: 100%;
}
.app .normal-color {
  color: var(--yellow-color);
}
.app .danger-color {
  color: var(--red-color);
}
.app .fine-color {
  color: var(--green-color);
}
.app .modifier-color {
  color: var(--blue-color);
}
.app .header {
  background-color: var(--black-color);
  height: var(--header-height);
}
.app .header .header__navbar {
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  padding: 1.2rem 1.6rem 0;
}
.app .header .header__navbar .header__logo .header__logo-link {
  display: flex;
  align-items: center;
  max-width: 120px;
}
.app .header .header__navbar .header__logo .header__logo-link .header__logo-name {
  font-size: 1.4rem;
}
.app .header .header__navbar .header__navbar-user {
  display: flex;
  align-items: center;
}
.app .header .header__navbar .header__navbar-user .header__user-img {
  margin-right: 2.4rem;
  font-size: 2rem;
}
.app .header .header__navbar .header__navbar-user .header__user-controls {
  margin-right: 2.4rem;
  text-align: center;
}
.app .header .header__navbar .header__navbar-user .header__user-controls .header__user {
  padding: 0;
  margin: 0 0 0.4rem 0;
}
.app .header .header__navbar .header__navbar-user .header__user-controls .header__user .header__user-name {
  color: var(--primary-color);
}
.app .header .header__navbar .header__navbar-user .header__user-controls .header__user-signout {
  cursor: pointer;
}
.app .content {
  height: 100vh;
}
.app .content .content__main {
  margin-top: 2rem;
}
.app .content .menu {
  background-color: var(--white-color);
}
.app .content .menu .menu__wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  margin: 0 -20px;
}
.app .content .menu .menu__wrapper .menu__item .menu__item-link {
  display: block;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 1.8rem;
  padding: 3.2rem;
}
.app .content .menu .menu__wrapper .menu__item .menu__item-link .menu__item-icon {
  margin-right: 0.8rem;
}
.app .content .menu .menu__wrapper .menu__item .menu__item-link:hover {
  opacity: 0.8;
}
.app .content .menu .menu__wrapper .menu__item .menu__item-link--active {
  background-color: var(--grey-color);
}
.app .content .dashboard__wrapper .dashboard__header {
  align-items: center;
  justify-content: space-between;
}
.app .content .dashboard__wrapper .dashboard__header .dashboard__item-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  border-radius: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 4rem;
}
.app .content .dashboard__wrapper .dashboard__header .dashboard__item-wrapper .dashboard__item-number {
  font-size: 6rem;
  font-weight: 700;
  line-height: 7.3rem;
  letter-spacing: -0.03em;
  text-align: center;
  margin-right: 5rem;
}
.app .content .dashboard__wrapper .dashboard__header .dashboard__item-wrapper .dashboard__item-number .dashboard__item-name {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: -0.03em;
}
.app .content .dashboard__wrapper .dashboard__header .dashboard__item-wrapper .dashboard__item-icon {
  font-size: 4rem;
  position: relative;
  z-index: 1;
}
.app .content .dashboard__wrapper .dashboard__header .dashboard__item-wrapper .dashboard__item-icon::before {
  position: relative;
  z-index: 1;
}
.app .content .dashboard__wrapper .dashboard__header .dashboard__item-wrapper .dashboard__item-icon::after {
  content: "";
  background-color: var(--white-color);
  height: 74px;
  width: 74px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}
.app .content .dashboard__wrapper .dashboard__header .dashboard__item-wrapper:nth-child(1) {
  background-color: #89EB9F;
}
.app .content .dashboard__wrapper .dashboard__header .dashboard__item-wrapper:nth-child(2) {
  background-color: #F4D78A;
  margin: 0 5rem;
}
.app .content .dashboard__wrapper .dashboard__header .dashboard__item-wrapper:nth-child(3) {
  background-color: #FE9C9C;
}
.app .content .dashboard__wrapper .dashboard__body {
  margin-top: 3.4rem;
}
.app .content .dashboard__wrapper .dashboard__body .dashboard__chart-wrapper .dashboard__chart {
  height: 50%;
  margin-top: 2.6rem;
  background-color: var(--white-color);
  border: 1px solid #BFBFBF;
}
.app .content .dashboard__wrapper .dashboard__body .dashboard__chart-wrapper .dashboard__chart .dashboard__chart-header {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2509803922);
  margin-top: 1.6rem;
  text-transform: uppercase;
  text-align: center;
}
.app .content .dashboard__wrapper .dashboard__body .dashboard__total-wrapper .dashboard__total {
  height: 50%;
  margin-top: 2.6rem;
  background-color: var(--white-color);
  border: 1px solid #BFBFBF;
  text-align: center;
}
.app .content .dashboard__wrapper .dashboard__body .dashboard__total-wrapper .dashboard__total .dashboard__total-header {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2509803922);
  margin-top: 1.6rem;
  text-transform: uppercase;
}
.app .content .dashboard__wrapper .dashboard__body .dashboard__total-wrapper .dashboard__total .dashboard__total-number {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3rem;
  letter-spacing: -0.03em;
}
.app .content .dish__wrapper .dish__header .dish__search-wrapper {
  display: flex;
  align-items: center;
}
.app .content .dish__wrapper .dish__header .dish__search-wrapper .dish__search-box {
  background-color: var(--white-color);
  padding-right: 1.2rem;
  border: 1px solid var(--border-color);
  margin-right: 1.6rem;
  border-radius: 4px;
}
.app .content .dish__wrapper .dish__header .dish__search-wrapper .dish__search-box .dish__search-input {
  font-size: 1.6rem;
  border-radius: 4px;
  line-height: 2rem;
  padding: 0.8rem 1.2rem;
  outline: none;
  border: none;
}
.app .content .dish__wrapper .dish__header .dish__search-wrapper .dish__search-box .dish__search-icon {
  font-size: 1.8rem;
}
.app .content .dish__wrapper .dish__header .dish__search-wrapper .dish__add-btn {
  background-color: var(--blue-color);
  color: var(--white-color);
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0.8rem 0.4rem;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.app .content .dish__wrapper .dish__header .dish__category-wrapper {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app .content .dish__wrapper .dish__header .dish__category-wrapper .dish__category .dish__category-btn {
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: 0.12em;
  text-align: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  color: var(--text-color);
  border-radius: 3px;
  padding: 0.4rem 2.8rem;
  margin-right: 1.2rem;
  background-color: var(--white-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2509803922);
}
.app .content .dish__wrapper .dish__header .dish__category-wrapper .dish__category .dish__category-btn--active {
  font-weight: 700;
  background-color: var(--grey-color);
  color: var(--black-color);
}
.app .content .dish__wrapper .dish__header .dish__category-wrapper .dish__category-delete-btn {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 3px;
  padding: 0.4rem 0.8rem;
  background-color: var(--red-color);
}
.app .content .dish__wrapper .dish__header .dish__category-wrapper .dish__category-delete-btn .dish__btn-icon {
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
}
.app .content .dish__wrapper .dish__body {
  margin-top: 3rem;
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.app .content .dish__wrapper .dish__body .dish__manager {
  border-collapse: collapse;
  width: 100%;
}
.app .content .dish__wrapper .dish__body .dish__manager .dish__manager-row {
  border-bottom: 2px solid #E0E0E0;
}
.app .content .dish__wrapper .dish__body .dish__manager .dish__manager-row .dish__manager-header {
  background-color: #E0E0E0;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2rem;
  padding: 0.8rem 0;
  width: 200px;
}
.app .content .dish__wrapper .dish__body .dish__manager .dish__manager-row .dish__manager-data {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.6rem;
  letter-spacing: 0.12rem;
  text-align: center;
  background-color: var(--white-color);
  padding: 0.8rem 0;
}
.app .content .dish__wrapper .dish__body .dish__manager .dish__manager-row .dish__manager-data .data__img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.app .content .dish__wrapper .dish__body .dish__manager .dish__manager-row .dish__manager-data .data__status {
  background-color: var(--green-color);
  padding: 0.4rem 0;
  border-radius: 3px;
  margin: 0 1.2rem;
}
.app .content .dish__wrapper .dish__body .dish__manager .dish__manager-row .dish__manager-data .data__desc {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
}
.app .content .add__page .add__page-header {
  font-size: 2.7rem;
  font-weight: 500;
  line-height: 3.3rem;
  text-align: center;
}
.app .content .add__page .add__page-wrapper .add__input-group {
  margin-top: 2rem;
}
.app .content .add__page .add__page-wrapper .add__input-group .add__input-label {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8rem;
  display: block;
}
.app .content .add__page .add__page-wrapper .add__input-group .add__input-label .add__input-require {
  color: var(--red-color);
}
.app .content .add__page .add__page-wrapper .add__input-group .add__input {
  font-size: 1.6rem;
  border-radius: 4px;
  line-height: 2rem;
  padding: 0.8rem 1.2rem;
  outline: none;
  border: none;
}
.app .content .add__page .add__page-wrapper .add__btn {
  background-color: var(--blue-color);
  color: var(--white-color);
  padding: 1.2rem 2.4rem;
  outline: none;
  border-radius: 6px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  margin-top: 1.6rem;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.6rem;
  cursor: pointer;
  margin-right: 2rem;
}
.app .content .add__page .add__page-wrapper .cancel {
  background-color: var(--red-color);
}
.app .modal {
  display: none;
}
.app .modal .modal__body .delete__wrapper {
  width: 500px;
  background-color: var(--white-color);
  border-radius: 6px;
  text-align: center;
  padding: 3rem 0;
}
.app .modal .modal__body .delete__wrapper .delete__icon {
  font-size: 5.2rem;
  color: var(--red-color);
}
.app .modal .modal__body .delete__wrapper .delete__message {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8rem;
  text-align: justified;
  margin: 0 auto;
  margin-top: 1.3rem;
  color: var(--text-color);
  max-width: 365px;
}
.app .modal .modal__body .delete__wrapper .delete__btn-wrapper {
  margin-top: 2rem;
}
.app .modal .modal__body .delete__wrapper .delete__btn-wrapper .btn {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2509803922);
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.6rem;
  padding: 1rem 4rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.app .modal .modal__body .delete__wrapper .delete__btn-wrapper .delete__btn {
  background-color: var(--red-color);
  color: var(--white-color);
  margin-right: 1.6rem;
}
.app .modal .modal__body .delete__wrapper .delete__btn-wrapper .cancel__btn {
  border: 2px solid var(--red-color);
  color: var(--red-color);
  background-color: var(--white-color);
}/*# sourceMappingURL=main.css.map */